body {
    font-family: ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji",
               "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.colored-text {
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
}

.header-style {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

.header-style-1 {
    background-image: linear-gradient(to right bottom, rgb(219, 39, 119), rgb(37, 99, 235), rgb(0, 0, 0));
}

.header-style-2 {
    background-image: linear-gradient(to right bottom, rgb(219, 39, 119), rgb(37, 99, 235));
}

.header-style-3 {
    background-image: linear-gradient(to right bottom, rgb(37, 99, 235), rgb(219, 39, 119));
}

@media screen and (max-width: 768px) {
    .header-style > h1{
        font-size: 48px;
    }
    .header-style > p {
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) {
    .header-style > h1{
        font-size: 72px;
    }
    .header-style > p {
        font-size: 24px;
    }
}

.header-style > h1{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

.header-style > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.button {
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.pink-button {
    background-color: rgb(236, 72, 153);
}

.pink-button > a {
    color: white;
}

.pink-button:hover {
    background-color: rgb(219, 39, 119);
}

.white-button {
    background-color: white;
}

.white-button > a {
    color: black;
}

.white-button:hover {
    background-color: rgb(226, 227, 229);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    margin-top: 0px;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-link {
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 16px;
    margin-right: 16px;
    transition: all 0.2s;
}

.nav-link:hover {
    color: rgb(219, 39, 119);
}

.current-nav-link {
    color: rgb(219, 39, 119);
}

.fancy-text {
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0);
}

.background-gray {
    background-color: rgb(243, 244, 246);
}

.facts-box-container {
    padding: 64px 100px;
    background-color: rgb(243, 244, 246);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

.facts-box {
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    border-width: 0.8px;
    border-style: solid;
    transition: all 0.1s;
    line-height: 24px;
}

.facts-box > h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0px;
}

.facts-box > h4 {
    color: rgb(75, 85, 99);
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

.facts-box-red {
    border-color: rgb(251, 207, 232);
}

.facts-box-red:hover {
    border-color: rgb(244, 114, 182);
}

.facts-box-blue {
    border-color: rgb(191, 219, 254);
}

.facts-box-blue:hover {
    border-color: rgb(96, 165, 250);
}

.icon-box-red {
    width: 48px;
    height: 48px;
    border-radius: 10px;

    background: linear-gradient(
        180deg,
        #ec4899 0%,
        #db2777 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 16px;
}

.icon-box-red svg {
    width: 24px;
    height: 24px;
}

.icon-box-blue {
    width: 48px;
    height: 48px;
    border-radius: 10px;

    background: linear-gradient(
        to right bottom,
        rgb(59, 130, 246),
        rgb(37, 99, 235)
    );

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 16px;
}

.icon-box-blue svg {
    width: 24px;
    height: 24px;
}

.statistics {
    text-align: center;
    padding: 64px 16px;
}

.statistics-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
}

.design-text {
    display: inline-block;
    background-clip: text;
    background-image: linear-gradient(
        to right,
        rgb(236, 72, 153),
        rgb(59, 130, 246)
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;
}

.pink-text {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
    color: rgb(236, 72, 153);
}

.blue-text {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
    color: rgb(59, 130, 246);
}

.black-text {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(17, 24, 39);
}

.gray-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(75, 85, 99);
}

.ready-to-challenge {
    padding: 64px 16px;
    text-align: center;
}

.ready-to-challenge > h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 24, 39);
    margin-top: 0px;
    margin-bottom: 24px;
}

.ready-to-challenge > h2 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(75, 85, 99);
    margin-top: 0px;
    margin-bottom: 32px;
}

.copyright {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(156, 163, 175);
    background-color: black;
}

.about-gpmo {
    background-color: rgb(243, 244, 246);
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
}

.our-story {
    max-width: 896px;
    background-color: white;
    border-color: rgb(251, 207, 232);
    border-width: 0.8px;
    border-style: solid;
    margin-bottom: 48px;
    border-radius: 8px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    transition: all 0.1s;
}

.our-story > h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 8px;
}

.our-story > h3 {
    color: rgb(75, 85, 99);
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 0px;
    line-height: 28px;
}

.our-story:hover {
    border-color: rgb(244, 114, 182);
}

.about-gpmo-container {
    max-width: min(960px, 100vw);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 244, 246);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.what-we-offer {
    max-width: 896px;
    background-image: linear-gradient(to right bottom, rgb(219, 234, 254), rgb(243, 244, 246));
    border-color: rgb(191, 219, 254);
    border-width: 0.8px;
    border-style: solid;
    margin-top: 48px;
    border-radius: 8px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    transition: all 0.1s;
}

.what-we-offer > h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

.what-we-offer > ul > li > h3 {
    color: rgb(17, 24, 39);
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
}

.what-we-offer > ul > li > h4 {
    color: rgb(75, 85, 99);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 24px;
}

.red-bullet::marker {
    color: rgb(236, 72, 153);
}

.blue-bullet::marker {
    color: rgb(59, 130, 246);
}

.our-team {
    max-width: 896px;
    background-color: white;
    border-color: rgb(251, 207, 232);
    border-width: 0.8px;
    border-style: solid;
    margin-bottom: 48px;
    border-radius: 8px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    transition: all 0.1s;
}

.our-team > h1 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 8px;
}

.our-team > h3 {
    color: rgb(75, 85, 99);
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 0px;
    line-height: 28px;
}

.our-team > a {
    color: rgb(236, 72, 153);
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.our-team:hover {
    border-color: rgb(244, 114, 182);
}

.use-resources {
    max-width: 1152px;
    background-color: rgba(219, 234, 254, 0.3);
    border-color: rgba(147, 197, 253, 0.3);
    border-width: 0.8px;
    border-style: solid;
    margin-bottom: 48px;
    border-radius: 8px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    transition: all 0.1s;
}

.use-resources > h1 {
    color: rgb(17, 24, 39);
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 32px;
}

.use-resources > h3 {
    color: rgb(75, 85, 99);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 16px;
    line-height: 24px;
}

.use-resources > ul {
    padding-left: 20px;
}

.use-resources > ul > li {
    color: rgb(75, 85, 99);
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    line-height: 24px;
}

.content-section-past-tests {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}

.year-competition {
    max-width: 1152px;
}

.year-competition > h2 > svg {
    color: rgb(236, 72, 153);
}

.year-competition > h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(17, 24, 39);
    font-size: 30px;
    font-weight: 700;
}

.test-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .test-links {
        grid-template-columns: 1fr;
    }
}

.competition-box {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    border-color: rgb(209, 213, 219);
    border-width: 0.8px;
    border-style: solid;
    transition: all 0.1s;
}

.competition-box:hover {
    border-color: rgb(244, 114, 182);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.left > h3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.tags {
    display: flex;
    gap: 8px;
}

.tag {
    padding: 4px 12px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.tag.pink {
    background-color: rgb(252, 231, 243);
    color: rgb(190, 24, 93);
}

.tag.blue {
    background-color: rgb(219, 234, 254);
    color: rgb(29, 78, 216);
}

.icon {
    width: 24px;
    height: 24px;
    color: rgb(156, 163, 175);
    width: 32px;
    height: 32px;
    transform: translateY(-16px);
    flex-shrink: 0;
}

.competition-box > h3 {
    color: rgb(75, 85, 99);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.button-set {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.test-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 8px;
    color: white;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    width: 100%;
}

.test-button-red {
    background-color: rgb(236, 72, 153);
}

.test-button-red:hover {
    background-color: rgb(219, 39, 119);
}

.test-button-blue {
    background-color: rgb(59, 130, 246);
}

.test-button-blue:hover {
    background-color: rgb(37, 99, 240);
}

.looking-for-more {
    text-align: center;
    margin-top: 48px;
    background-image: linear-gradient(to right bottom, rgba(252, 231, 243, 0.3), rgba(219, 234, 254, 0.3));
    border-color: rgba(249, 168, 212, 0.3);
    border-width: 0.8px;
    border-style: solid;
    padding: 32px;
}

.looking-for-more > h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    color: rgb(17, 24, 39);
    margin-bottom: 12px;
}

.looking-for-more > h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
    line-height: 24px;
    color: rgb(75, 85, 99);
}

.looking-for-more > h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(156, 163, 175);
}

.looking-for-more > h4 > a {
    color: rgb(244, 114, 182);
    text-decoration: none;
}