body {
    font-family: ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji",
               "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}

.colored-text {
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
}

.header-style {
    background-image: linear-gradient(to right bottom, rgb(219, 39, 119), rgb(37, 99, 235), rgb(0, 0, 0));
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .header-style > h1{
        font-size: 48px;
    }
    .header-style > p {
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) {
    .header-style > h1{
        font-size: 72px;
    }
    .header-style > p {
        font-size: 24px;
    }
}

.header-style > h1{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

.header-style > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.button {
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.pink-button {
    background-color: rgb(236, 72, 153);
}

.pink-button > a {
    color: white;
}

.pink-button:hover {
    background-color: rgb(219, 39, 119);
}

.white-button {
    background-color: white;
}

.white-button > a {
    color: black;
}

.white-button:hover {
    background-color: rgb(226, 227, 229);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    margin-top: 0px;
    position: sticky;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-link {
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

.current-nav-link {
    color: rgb(219, 39, 119);
}

.fancy-text {
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0);
}