body {
    font-family: ui-sans-serif, system-ui, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji",
               "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}

.colored-text {
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
}

.header-style {
    background-image: linear-gradient(to right bottom, rgb(219, 39, 119), rgb(37, 99, 235), rgb(0, 0, 0));
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .header-style > h1{
        font-size: 48px;
    }
    .header-style > p {
        font-size: 20px;
    }
}

@media screen and (min-width: 769px) {
    .header-style > h1{
        font-size: 72px;
    }
    .header-style > p {
        font-size: 24px;
    }
}

.header-style > h1{
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 24px;
}

.header-style > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.button {
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.pink-button {
    background-color: rgb(236, 72, 153);
}

.pink-button > a {
    color: white;
}

.pink-button:hover {
    background-color: rgb(219, 39, 119);
}

.white-button {
    background-color: white;
}

.white-button > a {
    color: black;
}

.white-button:hover {
    background-color: rgb(226, 227, 229);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    margin-top: 0px;
    position: sticky;
    top: 0;
    background: white;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-link {
    color: rgb(55, 65, 81);
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

.current-nav-link {
    color: rgb(219, 39, 119);
}

.fancy-text {
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(59, 130, 246));
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0);
}

.background-gray {
    background-color: rgb(243, 244, 246);
}

.facts-box-container {
    padding: 64px 100px;
    background-color: rgb(243, 244, 246);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

.facts-box {
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    border-width: 0.8px;
    border-style: solid;
    transition: all 0.1s;
}

.facts-box > h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0px;
}

.facts-box > h4 {
    color: rgb(75, 85, 99);
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

.facts-box-red {
    border-color: rgb(251, 207, 232);
}

.facts-box-red:hover {
    border-color: rgb(244, 114, 182);
}

.facts-box-blue {
    border-color: rgb(191, 219, 254);
}

.facts-box-blue:hover {
    border-color: rgb(96, 165, 250);
}

.icon-box-red {
    width: 48px;
    height: 48px;
    border-radius: 10px;

    background: linear-gradient(
        180deg,
        #ec4899 0%,
        #db2777 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 16px;
}

.icon-box-red svg {
    width: 24px;
    height: 24px;
}

.icon-box-blue {
    width: 48px;
    height: 48px;
    border-radius: 10px;

    background: linear-gradient(
        to right bottom,
        rgb(59, 130, 246),
        rgb(37, 99, 235)
    );

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 16px;
}

.icon-box-blue svg {
    width: 24px;
    height: 24px;
}

.statistics {
    text-align: center;
    padding: 64px 16px;
}

.design-text {
    display: inline-block;
    background-clip: text;
    background-image: linear-gradient(
        to right,
        rgb(236, 72, 153),
        rgb(59, 130, 246)
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 700;
}